
  <div class="card mb-3" style="width: 30rem;">
    <%= link_to 'New Course', new_course_path, class: 'btn btn-dark' %>
  </div>


<% @courses.each do |c| %>
  <div class="course pb-3" id="<%= c.id %>">
    <div class="card" style="width: 30rem;">
      <div class="card-header">
        <%= c.name %>
      </div>
      <div class="card-body">
        <p> Course Hours: <%= c.hours %> </p>
        <%= link_to 'Edit', edit_course_path(c), class: 'btn btn-dark' %>
        <%= link_to c.name, course_path(c), class: 'btn btn-dark' %>
      </div>
    </div>
  </div>
<% end %>