<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel05</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Courses', courses_path %>
      
    </nav>

    <%= yield %>

    <% flash.each do |key, message| %>
    <% message.each do |m| %>
    <div>
      <%= m %>
    </div>
    <% end %>
    <% end %>

  </body>
</html>
